brineomatic_node_red.json
[{"id":"865838185ced853e","type":"tab","label":"Brineomatic","disabled":false,"info":"","env":[]},{"id":"9ba2ae8ca45a9a42","type":"signalk-subscribe","z":"865838185ced853e","name":"Sea Temperature","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"environment.water.temperature","source":"","period":"5000","x":140,"y":100,"wires":[["181b904854ca082a"]]},{"id":"181b904854ca082a","type":"function","z":"865838185ced853e","name":"flow.sea_temperature","func":"msg.payload -= 273.15;\nflow.set('sea_temperature', msg.payload);\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["0734b74e6c69b427"]]},{"id":"25b0d316a6d35ec5","type":"signalk-subscribe","z":"865838185ced853e","name":"Port Tank","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.currentLevel","source":"","period":"2500","x":120,"y":180,"wires":[["b0c761b97669c9b1"]]},{"id":"b0c761b97669c9b1","type":"function","z":"865838185ced853e","name":"flow.port_tank","func":"flow.set('port_tank', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":180,"wires":[["c76c3a462f928d8b"]]},{"id":"5fb24fa62068429c","type":"function","z":"865838185ced853e","name":"flow.stbd_tank","func":"flow.set('stbd_tank', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["c76c3a462f928d8b"]]},{"id":"8ae12f56353dd676","type":"signalk-subscribe","z":"865838185ced853e","name":"Stbd Tank","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"tanks.freshWater.2.currentLevel","source":"","period":"2500","x":120,"y":260,"wires":[["5fb24fa62068429c"]]},{"id":"9343075eb04a6f58","type":"http request","z":"865838185ced853e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://brineomatic.local/api/endpoint","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":160,"wires":[[]]},{"id":"0734b74e6c69b427","type":"function","z":"865838185ced853e","name":"water_temp","func":"let request = {\n    \"cmd\": \"set_watermaker\",\n    \"water_temperature\": msg.payload\n};\n\nmsg.payload = JSON.stringify(request);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":100,"wires":[["9343075eb04a6f58"]]},{"id":"c76c3a462f928d8b","type":"function","z":"865838185ced853e","name":"tank select","func":"let port_tank = flow.get(\"port_tank\");\nlet stbd_tank = flow.get(\"stbd_tank\");\n\nlet lowest = Math.min(port_tank, stbd_tank);\n\nlet request = {\n    \"cmd\": \"set_watermaker\",\n    \"tank_level\": lowest\n};\n\nmsg.payload = JSON.stringify(request);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":220,"wires":[["9343075eb04a6f58"]]}]